{% extends 'template.html.twig' %}

{% block title %}
    {{ prenom }}  {{ nom }}
{% endblock %}

{% block PageTitle %}
    Page First
{% endblock %}


{% block body %}
    <p>Aujourd'hui on est le : {{ "now" | date("d/m/Y") }}</p>
    <h1>Hello {{ prenom | capitalize }} {{ nom | capitalize }} </h1>
    <img src="{{asset('assets/images/') ~ path | defaultImage }}" alt="">
    <p>Mon URL absolue est : {{ url('first') }}</p>
{% endblock %}